.search__heading {
  @extend .heading-border;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
  }

  .form-inline {
    flex-wrap: nowrap;
  }
}
