.form-control {
  border-radius: 40px;
  padding: .375rem 1rem;
}

input::placeholder {
  color: $gray;
  font-style: italic;
}

textarea {
  @extend .form-control;

  border-radius: .25rem;
}

.form--search {
  display: flex;
  position: relative;

  input {
    padding-right: 2em;

    @extend .form-control;
  }

  .btn {
    right: .5em;
    position: absolute;
  }

  .fa-search {
    color: $blue;
  }
}

.form--limit-width {
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin: 0 auto;
    width: 480px;
  }
}

.label--hidden {
  label {
    @include sr-only();
  }
}
