//
// Helper classes.
//

.label--hidden {
  label {
    @include sr-only();
  }
}

.form--search {
  display: flex;
  position: relative;

  input {
    padding-right: 2em;

    @extend .form-control;
  }

  .btn {
    right: .5em;
    position: absolute;
  }

  .fa-search {
    color: $blue;
  }
}

ul.list--formatted {
  margin: 0;
  padding: .75em;

  li {
    list-style-type: none;
    padding-bottom: 1em;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.button--reset,
.button--reset:hover,
.button--reset:focus {
  background: 0;
  border: 0;
  border-radius: 0;
  padding: .5em;
}
