//
// Helper classes.
//

.heading {
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul.list--formatted {
  margin: 0;
  padding: .75em;

  li {
    list-style-type: none;
    padding-bottom: 1em;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.button--reset,
.button--reset:hover,
.button--reset:focus {
  background: 0;
  border: 0;
  border-radius: 0;
  padding: .5em;
}

.heading-border {
  border-bottom: 2px solid $navy--border;
}
