//
// Helper classes.
//

.label--hidden {
  label {
    @include sr-only();
  }
}

.form--search {
  display: flex;
  position: relative;

  .fa-search {
    left: 10px;
    position: absolute;
  }

  input {
    padding-left: 2em;
  }
}

ul.list--formatted {
  margin: 0;
  padding: .75em;

  li {
    list-style-type: none;
    padding-bottom: 1em;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.button--reset {
  background: 0;
  border: 0;
  color: $blue;
}
