// Typography.
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$headings-font-weight: 700;

// Colors.
$blue: #4b66ea;
$gold: #fdb24b;
$navy: #00157e;
$navy--dark: #131c4b;
$navy--border: transparentize($navy, .9);
$gray: #969696;
$gray--light: #f3f3f6;
