.auth--false {
  background-color: $blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form--login {
  color: $white;
  padding-bottom: 2em;
  text-align: center;

  p {
    margin-bottom: .25em;
  }

  .btn {
    margin-bottom: 2em;
  }
}

.form--login__options {
  display: flex;
  justify-content: space-between;

  .form-check-label {
    font-size: 90%;
  }
}
