.member-sidebar {
  background-color: $gray--light;
  height: calc(100vh - 88px);
  padding: 0;

  .nav-link {
    color: $navy--dark;
    padding: 1rem 1.5rem;
    transition: all .2s ease;

    &.active {
      border-right: 5px solid $blue;
      color: $blue;
    }

    &:hover,
    &:focus {
      background-color: $navy--border;
    }
  }
}

.member-sidebar__nav {
  h1 {
    @extend .heading-border;

    margin: 0 1.5rem 1rem;
    padding: 1rem 0;
    text-transform: none;
    word-break: break-word;
  }
}

.member-avatar {
  width: 100%;
}
