.content-block {
  padding: 2em 0;

  svg {
    margin-right: .5em;
  }
}

.content-block__title {
  display: flex;
  margin-bottom: 1em;
}

.content-block__content {
  background-color: transparentize($blue, .8);
  padding: 1em;
}

.content-block__link {
  display: block;
  text-align: right;
}
