.member-tabs {
  .member-tabs__title {
    @extend .heading-border;

    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  dt {
    color: $gray;
    font-weight: 400;
    margin-bottom: .25em;
  }

  dd {
    font-size: $h2-font-size;
    margin-bottom: 1.5rem;
  }
}
